drag-scroll {
  height: 180px;
  margin: 3rem 1rem 2rem;
  position: relative;

  div {
    margin: 0 1rem;
  }
}
.container__holder {
  border-bottom: 1px solid rgb(244 244 245);
  padding: 2rem 3rem;
}


.card-list__card {
  background-color: red;
  border-radius: 20px;
  color: #fafafa;
  cursor: grab;
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
  min-width: 320px;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  user-select: none;
}

.card__logo {
  align-items: center;
  background-color: rgba(255, 81, 81, 0.715);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  height: 45px;
  justify-content: center;
  margin-bottom: 1rem;
  user-select: none;
  width: 45px;
}

.card__absolute {
  height: 100%;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}

.card__absolute img {
  transform: rotate(25deg);
  user-select: none;
  width: 200px;
}