header {
  border-bottom: 1px solid rgb(244 244 245);
  padding: 1rem 0rem;
}

.header__container {
  display: flex;
  height: 10%;
  justify-content: space-between;
  margin-top: 1.4rem;
  padding: 0rem 2rem;
}

.header__overview {
  align-items: center;
  align-items: flex-end;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.overview__text {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.overview__text span {
  font-size: large;
  font-weight: 400;
}

.overview__text p {
  color: #747474;
  font-size: small;
}

.overview__icons {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.icons__container--btc {
  align-items: center;
  background-color: rgba(90, 33, 182, 0.150);
  border-radius: 100%;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.icons__container--eth {
  align-items: center;
  background-color: rgb(255, 238, 237);
  border-radius: 100%;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.icons__container--dgc {
  align-items: center;
  background-color: rgb(223, 215, 255);
  border-radius: 100%;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.icons__container--ltc {
  align-items: center;
  background-color: rgba(0, 128, 0, 0.19);
  border-radius: 100%;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.icons__container--arrow {
  align-items: center;
  background-color: #dedede;
  border-radius: 100%;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.currency-btc {
  background-color: rgb(91 33 182);
  height: 25px;
  width: 25px;
}

.currency-eth {
  background-color: red;
  height: 25px;
  width: 25px;
}

.currency-dgc {
  background-color: rgb(69, 142, 255);
  height: 20px;
  width: 20px;
}

.currency-ltc {
  background-color: green;
  height: 20px;
  width: 20px;
}

.arrow {
  background-color: #4e4e4e;
}

.header__user {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.user__photo {
  background-size: cover;
  border-radius: 100%;
  border: 1px solid #b7b7b7;
  height: 60px;
  width: 60px;
}