<header>
  <div class="header__container">
    <div class="header__overview">
      <div class="overview__text">
        <p>Overview</p>
        <span>Trading View</span>
      </div>
      <div class="overview__icons">
        <div class="icons__container btc">
          <app-image [route]="'assets/currency-btc.svg'" class="currency currency-btc"/>
        </div>
        <div class="icons__container eth">
          <app-image [route]="'assets/currency-eth.svg'" class="currency currency-eth"/>
        </div>
        <div class="icons__container ltc">
          <app-image [route]="'assets/currency-ltc.svg'" class="currency currency-ltc"/>
        </div>
        <div class="icons__container dgc">
          <app-image [route]="'assets/currency-dgc.svg'" class="currency currency-dgc"/>
        </div>
        <div class="icons__container arrow-icon">
          <app-image [route]="'assets/caret-right.svg'" class="arrow"/>
        </div>
      </div>
    </div>
    <div class="header__user-container">

      <app-image [route]="'assets/bell.svg'" class="user__notification"/>
      <div class="header__user">
        <app-image class="user__photo" [route]="'assets/user-fill.svg'" />
      </div>
    </div>
  </div>
</header>
