<div class="container">
  <div class="container__header">
    <div class="header__title">
      <span>Imperssion</span>
    </div>
    <div class="header__buttons">
      <div *ngFor="let button of buttons" (click)="handleButton(button.btnName)" [ngClass]="selected === button.btnName ? 'button--selected' : 'button'">
        <p>{{button.value}}</p>
      </div>
    </div>
  </div>
  <div class="container__body" [ngClass]="selected === 'weekly' ? 'data-week' : 'data-month'">
    <div class="chart-container week">
      <canvas id="data-week" >{{ chart }}</canvas>
    </div>
  </div>

</div>


