
.container {
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgb(244 244 245);
  height: 100%;
  min-width: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  justify-content: space-between;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  @media (max-width: 768px) {
    width: 100%;
    overflow:hidden;
    padding: 1rem 1rem;
    .container__header {
      gap: 0.5rem;
    }
  }
}
.container__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.container__title {
  width: 100%;
} 
.header__title span {
  font-weight: 500;
  font-size: 28px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}
.header__buttons {
  display: flex;
  gap: 1rem;
  @media (max-width: 768px) {
    gap: 0.5rem;

  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 33, 182, 0.168);
  color: rgb(91, 33, 182);
  border-radius: 10px;
  padding: 0.5 1rem;
  font-weight: 500;
  width: 5rem;

  cursor: pointer;
  @media (max-width: 768px) {
    padding: 0rem 0.5rem;
    width: 100%;
    font-size: 14px;
  }
}

.button--selected { 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.5 1rem;
  width: 5rem;
  background-color: rgb(91, 33, 182);
  color: #fafafa;
  font-weight: 500;

  cursor: pointer;

  @media (max-width: 768px) {
    padding: 0rem 0.5rem;
    width: 100%;
    font-size: 14px;
  }
}

.chart-container {
  min-height: 100%;


}

#data-week {

  min-height: 250px;

}
