.content {
  display: flex;
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}
.router {
  position: relative;
  width: 100%;

  height: 100vh;
  overflow-y: scroll;
}
.router::-webkit-scrollbar {
  overflow-x: hidden;
}
.side-bar{

  overflow:hidden;
}
