
<div class="container">
  <div class="container__body">
    <div class="container__block">
      <div class="block__header">
        <span>Your portfolio</span>
      </div>
      <div class="block__body">
        <div class="chart-container">
          <canvas  id="donut-chart" >{{ chart }}</canvas>
        </div>
        <div class="donut__portfolio">
          <p>2.5578 BTC</p>
          <p>3.5288 ETH</p>
        </div>
      </div>
    </div>
    <div class="body__balance">
      <span>$8520.50</span>
      <p>Pending Balance</p>
    </div>
  </div>

</div>
