<div class="container__logo-button">

  <div class="container__collapse-button" [ngClass]="isClosed ? 'container__collapse-button--closed' : ''" (click)="handleCloseClick()">
    <app-collapse-button [isClosed]="isClosed"/>
  </div>
  <app-logo [isClosed]="isClosed"/>
</div>

<div class="container__list" *ngFor="let button of buttons">
  <div class="container__button" (click)="handlePositionClick(button.btnName)" [ngClass]="button.btnName === position ? 'container__button--selected' : ''" >
    <app-image class="container_image" [ngClass]="[button.btnName === position ? 'selected' : '', theme ? 'dark' : '']" [route]="button.imgRoute"/>
    <app-side-button *ngIf="!isClosed" [buttonAttribute]="button"/>
  </div>
</div>
