.container {
  border-radius: 10px;
  border: 1px solid rgb(244 244 245);
  height: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.container__header {
  padding: 1rem 2rem;
}

.container__header span {
  font-weight: 500;
  font-size: 28px;
}

.container__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.body__activity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 2rem;
  gap: 2rem;
  height: 100%;

}

.body__activity:hover {
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 0.1), 0px 0px 0px 0px rgb(0 0 0 / 0.1);
}

.activity__set {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}

.set--color-btc {
  border-radius: 100%;
  background-color: rgba(90, 33, 182, 0.150);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set--color-ltc {
  border-radius: 100%;
  background-color: rgba(0, 128, 0, 0.19);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.activity__price {
  display: flex;
  gap: 1rem;
}

.set__currency--btc {
  background-color: rgb(91, 33, 182);
}

.set__currency--ltc {
  width: 22px;
  height: 22px;
  background-color: green;
}

.price__send {
  width: 20px;
  height: 20px;
  background-color: green;
}
.price__recieve {
  width: 20px;
  height: 20px;
  background-color: red;
}