.container--open {
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: space-between;
  width: 200px;
  overflow: hidden;
  border-right:  1px solid rgb(244 244 245);
  font-weight: 500;
  transition: width 0.1s;

  @media (max-width: 768px) {
    position:absolute;
    z-index: 100;
    background-color: #FFF;
    width: 300px;
    overflow: visible;
    .container__upper {
      background-color: #FFF;
      width: 300px;
    }
    .container__lower {
      width: 300px;
    }
  }

}
.closed__toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 0px 10px;
  background-color: #FFF;
  border: 1px solid rgb(244 244 245);
  width: 40px;
  height: 40px;
  margin: 1rem 0;

}

.container--closed {
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: space-between;
  width: 80px;
  border-right:  1px solid rgb(244 244 245);
  font-weight: 500;
  overflow: hidden;
  transition: width 0.1s;

  .closed__toggler {
    display: none;
  }

  .lower__absolute {
    width: 80px !important;
    overflow: hidden;
  }
  .container__lower {
    width: 80px;
  }

  @media (max-width: 768px) {
    position:absolute;
    z-index: 100;
    background-color: #FFF;
    width: 0;
    overflow: visible;
    .closed__toggler {
      display: flex;
      border-radius: 0 10px 10px 0px;
      background-color: #FFF;
      border: 1px solid rgb(224, 224, 224);
      border-left: 0px solid transparent;
    }
    .container__upper {
      display: none;
    }
    .container__lower {
      display: none;
    }
  }
}

.open__toggler {
  display: none;
}

.container__upper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 200px;
  transition: background-color  0.2s;
  background: repeating-linear-gradient(
    130deg,
    rgba(241, 245, 249, 0.69)1px,
    rgba(241, 245, 249, 0.69) 3px,
    #FFF 3px,
    #FFF 6px
  );
}

.upper__absolute {
  position: absolute;
  width: 100%;
}

.container__lower {
  display: flex;
  width: 200px;
  background-color: #FFF;
  height: 10vh;
  justify-content: center;
  padding: 1.5rem 0;
  border-top: 1px solid rgb(244 244 245);
  position: relative;
  overflow: hidden;
  transition: background-color  0.2s;
}

.lower__absolute {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 200px;
}

